.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.fullWidth {
  padding: 0;
}

.homeBG {
  background-image: url("/images/userHomeBG.png");
  background-size: 100% 100%;
  height: 100vh;
}

.leftWrapper {
  padding: 20px 70px 10px 160px;
}

.pageHeading {
  font-size: 34px;
  font-weight: 400;
}

.footerImages {
  display: flex;
  padding: 10px 70px;
}

.footerImages img {
  height: 350px;
  width: 342px;
}

@media screen and (max-width: 1024px) {
  .homeBG {
    flex-direction: column;
    background-image: none;
  }
  .leftContainer {
    width: 100%;
  }
  .rightContainer {
    width: 100%;
  }
  .leftWrapper {
    padding: 20px 30px 10px 30px;
  }

  .cardSize {
    width: 330px;
  }

  .homeBG {
    height: 100vh;
  }
}

@media screen and (min-width: 1441px) {
  .homeBG {
    height: calc(100vh - 70px);
  }

  .leftWrapper {
    padding: 20px 70px 10px 160px;
  }
}

@media screen and (max-width: 1270px) and (min-width: 1024px) {
  .leftWrapper {
    padding: 18px 20px;
  }
}

@media screen and (max-width: 912px) {
  .homeBG {
    height: calc(100vh - 70px);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .cardSize {
    margin: 30px auto;
  }
}


@media (max-width: 575.98px) {
  .pageHeading {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
