.refferCard {
  background-color: #2a2627;
  padding: 24px 20px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.RCHeader {
  font-size: 19px;
  font-weight: 700;
  font-family: "Nexa-Bold";
  color: white;
}

.RCContent {
  color: #9ea3ae;
  font-size: 14px;
  font-weight: 400;
}

.RCBtn {
  background-color: white !important;
  color: black !important;
  border-radius: 90px;
  padding: 10px 15px;
  font-family: "Nexa-Bold";
}
.RCBtn:disabled {
  color: white;
  opacity: 1;
  border: 1px solid white;
  background-color: black;
}

.RCBtn:hover {
  color: white;
  border: 1px solid white;
  background-color: black;
}

.RCBtn:hover {
  background-color: white;
  color: black;
}

.RCBtn:focus {
  background-color: white;
  color: black;
}
.RCBtn:active {
  background-color: white;
  color: black;
}
.RCBtn:focus-visible {
  background-color: white;
  color: black;
}
.RCBtn:active {
  background-color: white;
  color: black;
}

.groupImg {
  position: absolute;
  right: 20px;
  height: 150px;
  bottom: -50px;
}

@media screen and (min-width: 1600px) {
  .refferCard {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .refferCard {
    padding: 15px;
  }

  .RCContent {
    font-size: 12px;
  }

  .RCBtn {
    font-size: 12px;
    padding: 3px 5px;
  }

  .groupImg {
    height: 90px;
    bottom: -30px;
  }

  .RCHeader {
    font-size: 16px;
    margin: 0;
  }
}



@media (max-width: 575.98px) {  }


@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) { 
  .RCHeader {
    font-size: 17px;
  }
 }


@media (max-width: 1399.98px) {  }

