.cardSize {
  width: 350px;
  border-radius: 24px;
  background-color: #fcfcfd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 24px;
  border: none;
  z-index: 1;
  margin-top: 10px;
}

.diabledBtn {
  background-color: #b8c8f3 !important;
  border: 1px solid #b8c8f3 !important;
}

.cardHeader {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px !important;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.cardBtn {
  width: 184px;
  background-color: #3b71fe;
  border-radius: 90px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Nexa-Bold";
}

.cardLine {
  background-color: #e6e8ec;
  height: 2px;
}

.cardContent {
  font-size: 24px;
  font-weight: 700;
  font-family: "Nexa-Bold";
}

.cardSubContent {
  font-size: 14px;
  font-weight: 700;
  font-family: "Nexa-Bold";
  color: rgba(119, 126, 144, 1);
}

@media screen and (min-width: 1600px) {
  .cardSize {
    width: 40%;
    padding: 24px;
  }

  .cardBtn {
    margin-top: 30px;
  }
}

@media screen and (max-width: 912px) {
  .cardSize {
    margin: 30px auto;
  }
}

@media screen and (max-width: 1024px) {
  .cardSize {
    width: 330px;
  }
}

@media (max-width: 575.98px) {
  .cardSize {
    margin: 0 auto 20px;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
